  <% if notice.present? %>
    <div class="flex justify-center" data-controller="devise">
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    </div>
  <% end %>

  <% if flash[:success].present? %>
    <div class="flex justify-center" data-controller="devise">
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="success"><%= flash[:success] %></p>
    </div>
  <% end %>

  <% if flash[:alert].present? %>
    <div class="flex justify-center" data-controller="devise">
      <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= flash[:alert] %></p>
    </div>
  <% end %>

  <div class="flex justify-center">
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block hidden" id="alert"></p>
  </div>