<nav class="bg-gray-800 container max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 relative flex items-center justify-between h-16">
  <div class="flex-shrink-0">
    <%= link_to "Railestate", root_path, class: "text-white font-bold text-xl" %>
  </div>
  <div class="hidden sm:block sm:ml-6 justify-self-end">
    <div class="flex space-x-4">
      <%= link_to "Listings", root_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
      <%= link_to "About", about_index_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
    </div>
  </div>
</nav>
