<div>
  <h2>Profile:</h2>
  <div class="flex-column gap-2">
    <div>Current user: <%= current_user.email %></div>
    <% if current_user.provider.present? %>
      <div>Provider: <%= current_user.provider %></div>
    <% end %>
    <% if current_user.avatar_url.present? %>
      <%= image_tag(current_user.avatar_url, class: "h-auto w-auto rounded-full object-cover") %>
    <% end %>
    <h3>API</h3>
    <hr>
    <div>
      <turbo-frame id="api-token"></turbo-frame>
      <%= button_to "Generate Token", generate_token_user_path(current_user), method: :post, data: { turbo_frame: "api-token" } %>
    </div>
  </div>
</div>